<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Scanning the Spring Beans -->
	<context:component-scan base-package="com.zhongying.demo.web" />
	<!-- Enables Annotation -->
	<context:annotation-config />

	<!-- The static resource file access -->
	<mvc:resources mapping="/static/**" location="/static/" />
	<mvc:resources location="classpath:/META-INF/resources/"
		mapping="swagger-ui.html" />
    <mvc:resources location="classpath:/META-INF/resources/webjars/"
		mapping="/webjars/**" />
	
	<!-- Enables the Spring MVC @controller programming model -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>text/plain;charset=UTF-8</value>
					</list>
				</property>
				<property name="writeAcceptCharset" value="false" />
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json; charset=UTF-8</value>
						<value>application/x-www-form-urlencoded; charset=UTF-8</value>
					</list>
				</property>
				<!--<property name="objectMapper" ref="customObjectMapper"></property> -->
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!--<bean id="customObjectMapper" class="com.shanlin.jf.resolver.CustomObjectMapper"></bean> -->



	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/tokenApi/testToken" />
			<bean class="com.zhongying.demo.web.interceptor.TokenInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<!--On the landing, certification and other interceptor -->
	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!--File upload -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>

</beans>
